<form id="myform" action="/storejoke" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="joke" id="mytext"> <!--Det som skrives her, kommer med i req.body. joke er property, text er indhold-->
    <button type="submit" id="nySubmit">Add joke!</button>
</form>
<div></div>
<a href="/index">Back to index</a>
