<form id="myform" action="/index" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" id="user"> <!--Det som skrives her, kommer med i req.body, da det er en post. username er property, text er indhold-->
    <button type="submit" id="nySubmit">Login!</button>
</form>
